<div class="row">
    <div class="col-md-12 text-right">
        <form class="form-inline">
            <div class="form-group">
                <label>Search</label>
                <input ng-model="filterName" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Sort By</label>
                <select class="form-control">
                    <option value="name">Name</option>
                </select>
            </div>
        </form>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="product in vm.products | filter:filterName">
        <div class="thumbnail">
            <img ng-src="/content/images/{{product.thumbnail}}" alt="product.name">
            <div class="caption">
                <h3>{{product.name}}</h3>
                <p>Price: {{product.price | currency}}</p>
                <p>
                    <a href="#/products/{{product.id}}" class="btn btn-primary" role="button">Details</a>
                    <a href="#" class="btn btn-default" role="button">Add to cart</a>
                </p>
            </div>
        </div>
    </div>
</div>