<div class="row">
    <div class="col-md-6">
        <img ng-src="/content/images/{{vm.product.thumbnail}}" alt="vm.product.name">
    </div>
    <div class="col-md-6">
        <h2>{{vm.product.name}}</h2>
        <hr>
        <p>Price: {{vm.product.price | currency}}</p>
    </div>
</div>
<br>
<br>
<div>
    {{vm.product.description}}
</div>

<div>
    <h4>Reviews</h4>
    <ul class="list-unstyled">
        <li ng-repeat="review in vm.product.reviews">
            <blockquote>
                <strong>{{review.stars}} Stars</strong>
                {{review.comment}}
                <cite class="clearfix">—{{review.author}}</cite>
            </blockquote>
        </li>
    </ul>
    <!--  Review Form -->
    <form style="width: 500px" name="reviewForm" ng-submit="reviewForm.$valid && vm.addReview(product)" novalidate>
        <!--  Live Preview -->
        <blockquote>
            <strong>{{vm.review.stars}} Stars</strong>
            {{vm.review.comment}}
            <cite class="clearfix">—{{vm.review.author}}</cite>
        </blockquote>
        <!--  Review Form -->
        <h4>Submit a Review</h4>
        <fieldset class="form-group">
            <select ng-model="vm.review.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]" title="Stars" required>
                <option value="">Rate the Product</option>
            </select>
        </fieldset>
        <fieldset class="form-group">
            <textarea ng-model="vm.review.comment" class="form-control" placeholder="Write a short review of the product..." title="Review" required></textarea>
        </fieldset>
        <fieldset class="form-group">
            <input ng-model="vm.review.author" type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" required />
        </fieldset>
        <fieldset class="form-group">
            <input type="submit" class="btn btn-primary pull-right" value="Submit Review" ng-disabled="!reviewForm.$valid" />
        </fieldset>
    </form>  
</div>